footer .content {
  display: flex;
  padding: 75px 0px 53px 0px;
  border-bottom: 1px #e3e3ea solid;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 11px;
  line-height: 13px;
  color: #959595;
  padding: 30px 0px;
  text-align: center;
}

footer .content #logo {
  color: #1a1a1a;
}

footer .content nav a {
  color: #333333;
}

footer .content .social {
  margin: auto 0px;
  display: grid;
  grid-template-columns: 6px 12px 13px;
  column-gap: 30px;
}

.youtube {
  margin-top: 2px;
}

footer nav ul li {
  position: relative;
}

footer nav ul li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333333;
  transition: width 0.2s ease-in-out;
}

footer nav ul li:hover::after {
  width: 100%;
}

@media only screen and (max-width: 1150px) {

  footer .content #logo {
    padding-left: 20px;
  }
  footer .content .social {
    margin-left: 0px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 580px) {
  footer .content{
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
  }
  footer .content #logo {
    padding-left: 0px;
  }
  footer .content .social {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 343px){
  footer nav{
    padding: 0px 10px;
  }
  nav ul {
    column-gap: 15px;
  }
}
@media only screen and (max-width: 275px){
  nav ul{
    flex-direction: column;
    row-gap: 10px;
  }
}