#happiness {
  overflow: hidden;
}

#happiness .title h2 {
  text-align: center;
  padding: 70px 0px 10px 0px;
}

#happiness .title p {
  text-align: center;
  padding-bottom: 69px;
}

#happiness .content {
  display: grid;
  grid-template-columns: 1fr 345px;
  column-gap: 154px;
  padding-bottom: 100px;
}

#happiness .content .info .profile {
  margin: 15px 0px 40px 0px;
}

#happiness .content .info p {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: #6d6d6d;
  text-align: left;
  padding-bottom: 55px;
}

#happiness .content .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 225px;
}

#happiness .content .bottom h3 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #1c1c1d;
  padding-bottom: 12px;
}

#happiness .content .bottom p {
  font-weight: 500;
  line-height: 19px;
  color: #9c988f;
}

#happiness .content .bottom img {
  margin-top: 30px;
}

@media only screen and (max-width: 1150px) {
  #happiness .content {
    padding: 0px 25px 70px 25px;
  }
}

@media only screen and (max-width: 1032px) {
  #happiness .content {
    display: flex;
    column-gap: 0px;
    justify-content: center;
  }

  #happiness .content .info p {
    font-size: 18px;
    padding-bottom: 35px;
  }

  #happiness .content .info .profile {
    height: 42px;
    margin: 10px 0px 20px 0px;
  }

  #happiness .content .man {
    height: 400px;
  }
}

@media only screen and (max-width: 770px) {
  #happiness .content .info p {
    font-size: 16px;
    line-height: 30px;
  }

  #happiness .content .man {
    height: 300px;
  }

  #happiness .content .bottom img {
    display: none;
  }
}

@media only screen and (max-width: 618px){
  #happiness h2{
    padding: 50px 10px 6px 10px;
    font-size: 35px;
  }
  #happiness .title p{
    padding: 0px 10px 40px 10px;
  }
  #happiness p {
    line-height: 30px;
    font-size: 14px;
  }
  #happiness .content .info p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 15px;
  }
  #happiness .content .man {
    height: 250px;
  }
}
@media only screen and (max-width: 526px){
  #happiness .content .man{
    display: none;
  }
  #happiness .content{
    align-items: center;
    text-align: center;
  }
  #happiness .content .info p{
    text-align: center;
    font-size: 18px;
  }
  #happiness .content .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}