#solutions {
  position: relative;
  padding-top: 82px;
}
#solutions .title {
  text-align: center;
  padding-bottom: 85px;
}
#solutions .title h2 {
  padding-bottom: 10px;
}
#solutions .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 140px;
}
#solutions .item .content h3 {
  padding: 8px 0px 14px 0px;
}
#solutions .item p {
  padding-bottom: 30px;
}
@media only screen and (max-width: 1170px){
  #solutions .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #solutions .item{
    column-gap: 120px;
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 768px){
  #solutions .title h2{
    font-size: 35px;
    padding-bottom: 0px;
  }
  #solutions .title p{
    font-size: 14px;
  }
  #solutions .item .content h3{
    font-size: 25px;
    padding: 4px 0px 8px 0px;
  }
  #solutions .item p{
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 734px){
  #solutions .likes{
    height: 290px;
  }
  #solutions .item{
    column-gap: 20px;
  }
  #solutions .okay{
    height: 240px;
  }
  #solutions .earning{
    height: 300px;
  }
}
@media only screen and (max-width: 660px){
  #solutions{
    padding-top: 50px;
  }
  #solutions .likes{
    display: none;
  }
  #solutions .okay{
    display: none;
  }
  #solutions .earning{
    display: none;
  }
  #solutions .title{
    padding-bottom: 40px;
  }
  #solutions .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 500px){
  #solutions .title h2 {
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    line-height: 40px;
  }
  #solutions .title p {
    padding: 0px 10px;
  }
  #solutions .item .content h3 {
    font-size: 18px;
    padding: 0px 0px 0px 0px;
    line-height: 30px;
  }
  #solutions .item .content h4{
    font-size: 12px;
  }
}