#statistics {
  background: #231a36;
  padding: 40px 0px;
}
#statistics .title {
  padding: 120px 0px 110px 0px;
  text-align: center;
}
#statistics .title h2 {
  color: #ffffff;
  padding-bottom: 18px;
}
#statistics .title p {
  color: #7b9292;
}
#statistics .items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
#statistics .items h2 {
  color: #ffffff;
  text-align: left;
}
#statistics .items p {
  text-align: left;
}
@media only screen and (max-width: 1162px){
  #statistics .items{
    padding: 0px 30px 120px 30px;
  }
}
@media only screen and (max-width: 620px){
  #statistics .title{
    padding: 100px 10px 90px 10px;
  }
  #statistics .title h2{
    font-size: 25px;
    line-height: 40px;
  }
  #statistics .items{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 40px;
   row-gap: 10px;
   justify-content: center;
   padding: 0px 30px 120px 60px;
  }
}